body{
    background-color:black;
    display:grid;
    grid-template-rows: repeat(8, 1fr);
}

h1{
    text-align:center;
    color:white;
    font:"Times New Roman";
}
p{
    text-align:center;
    color:white;
    font-size:30px;
}